<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Counseling</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body background="{% static 'images/bg.jpg' %}">
<div class="" style="float:right;margin-right: 35%;margin-top: 50px" class="table-responsive">
<form action="{% url 'fetch_Student_academic_detail' %}" method="post">
    {% csrf_token %}
<table border="0">
    <tr>
        <td>Register Id :</td>
        <td>
            <select name="reg_id" id="reg_id">
                {% for student in my_stu_lst %}
                     <option value="{{ student }}">{{ student }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td>
            Semester :
        </td>
        <td>
            <select name="sem" id="sem">
                <option value="">Select</option>
                <option value="sem1">sem1</option>
                <option value="sem2">sem2</option>
                <option value="sem1">sem3</option>
                <option value="sem2">sem4</option>
                <option value="sem1">sem5</option>
                <option value="sem2">sem6</option>
            </select>
        </td>
    </tr>
    <tr><td colspan="2"><input type="submit" class="btn btn-success btn-block btn-lg" value="Get Data"></td></tr>
</table>
</form>



<table border="0" class="table table-sm table-dark">
    <tr>
        <td>Academic Year : </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="5" align="center">Semester : {{ sem }}</td>
    </tr>

    <tr>
        <td>course</td>
        <td>Mid I</td>
        <td>Mid II</td>
        <td>Int.</td>
        <td>Ext.</td>
    </tr>
    {% for rec in my_stu_details %}
        <tr>
            <td>{{ rec.subject }}</td>
            <td>{{ rec.mid1 }}</td>
            <td>{{ rec.mid2 }}</td>
            <td>{{ rec.internal }}</td>
            <td>{{ rec.external }}</td>
        </tr>
    {% endfor %}
</table>
</div>
</body>
</html>